html, body {
  margin: 0;
  padding: 0;
  /*overflow: hidden;
  overscroll-behavior: none;*/
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

hr {
  width: 100%;
}

button {
  border: 1px solid black !important;
}

#chatheads {
  display:none;
  background:white;
}

#webcamHolder {
  position: relative;
  float:left;
}

#webcamVideo {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width:100%;
}

.switch-field {
  display: inline-block;
  overflow: hidden;
  margin-top:21px;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  margin-left:-4px;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
  margin-left: 0;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

#videos-container #webcamHolder {
  width: 100%;
  height: 100%;
}
#chatheads {
  bottom: 21px;
  color: black;
    position: absolute;
    right: 17px;
    text-align: right;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 33px;
}

#videos-container #webcamHolder #webcamVideo {
  width: 50%;
}
#chatheadphotos div {
  float: right;
  height: 60px;
  width: 60px;
  background-size: cover;
  border-radius: 50%;
  margin-right:7px;
}
#chatheadphotos div:first-of-type {
margin-right:0;
}
#chatheadstatus {
  clear:both;
  padding-top: 13px;
}
#controls {
  text-align: center;
  color:white;

  position: fixed;
  bottom: 21px;
  margin-left: 26px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
#controls button {
  background: white;
  width: 70px;
}
#webcamLogin #controls {
  display:none;
}

#webcamLogin #webcamHolder {

  float:none;
}

/* Tooltip text */
.ttooltip .ttooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  margin-top: -36px;
  margin-left: -108px;
}

/* Tooltip arrow */
.ttooltip .ttooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ttooltip:hover .ttooltiptext {
  visibility: visible;
  opacity: 1;
}

.mirrored {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  max-width: 50%;
  float:left;
}

#webcamOverlay {
  width: 99%;
  position: absolute;
  top: 0;
  left: 0;
}

#videos-container {
  /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;*/
    width: 100%;
}

#emojiHolder {
  text-align: right;
  font-size: 290%;
  top: -79px;
  position: relative;
  right: 10px;
  color:white;
  height:0;
}

button {
  font-size: 18px;
  outline: none;
  border: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(230, 230, 230);
}

button:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

#game-canvas {
  /*width: 100%;*/
  height: 100%;
}

#play-menu {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #929292;
  border-radius: 17px;
  text-align: center;
  margin-bottom: 10%;
}

#game-canvas {
  display:none;
}

#play-menu p {
  margin-bottom: 0;
}

#play-menu input {
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
}

#play-menu input:hover {
  outline: none;
}

#play-button {
  margin-top: 12px;
}

#disconnect-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

#disconnect-modal > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  #play-menu {
    padding: 10px 15px;
    min-width: 280px;
  }

  #disconnect-modal > div {
    padding: 10px;
    min-width: 280px;
  }
}
